<% layout('layouts/boilerplate') %>
    <% block('head').append('<link rel="stylesheet" href="/css/images.css" />') %>
    <!-- <h1>Edit Info</h1>


    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="trek[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="trek[location]">
    </div>

    <button>Edit Trek</button>
    </form> -->



    <div class="row">
        <h1 class="text-center">Bring up to date</h1>
        <div class="col-6 offset-3">
            <form action="/treks/<%= trek.id %>?_method=PUT" method="POST" class="validated-form" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="trek[title]" value="<%= trek.title %>"
                        required>
                    <div class="valid-feedback">
                        Good job!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="trek[location]"
                        value="<%= trek.location %>" required>
                    <div class="valid-feedback">
                        Good job!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description" name="trek[description]"
                        required><%= trek.description %></textarea>
                    <div class="valid-feedback">
                        Good job!
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Upload Images</label>
                    <input type="file" name="image" id="image" multiple> -->
                <!-- <input type="url" class="form-control" id="image" name="trek[image]" value="<%= trek.image %>"
                        required>
                    <div class="invalid-feedback">
                        Please enter a URL
                    </div> -->
                <!-- </div> -->
                <div>
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">Rs</span>
                        <input type="text" pattern="\d+|\d+.\d{2}" class="form-control" id="price" placeholder="0.00"
                            aria-label="price" aria-describedby="price-label" name="trek[price]"
                            value="<%= trek.price %>" required>
                        <div class="invalid-feedback">
                            Price should be a number greater than 0
                        </div>
                    </div>
                </div>


                <div class="input-group mb-3">
                    <label class="input-group-text" for="image">Upload More Images</label>
                    <input type="file" class="form-control" id="image" name="image" multiple
                        onchange="previewMultiple(event)">
                </div>
                <div id="formFile" class="mb-1"></div>
                <hr>

                <!-- <div class="mb-3">
                    <% trek.images.forEach(function(img, i) { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>"
                                id="image-<%= i %>">
                        </div>
                        <label for="image-<%= i %>">Delete Image</label>
                        <% }) %>
                </div> -->

                <h5>Delete Images: </h5>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                    <% trek.images.forEach((img, i)=> { %>
                        <div class="col">
                            <div class="card">
                                <label for="image-<%= i %>"><img class="card-img" src="<%= img.thumbnail %>" alt="">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                            value="<%= img.filename %>" id="image-<%= i %>">
                                    </div>
                                </label>
                            </div>
                        </div>
                        <% }) %>
                </div>

                <button class="btn btn-success">Update Trek</button>
            </form>
            <div class="mb-3">
                <a class="btn btn-danger mt-3" href="/treks/<%= trek.id %>">I don't want to</a>
            </div>
        </div>
    </div>